# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized

**Objectives :**
- Python
- Java
- C++
- Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Matplotlib
4. Tensorflow
5. Apache Spark
6. PyTorch

| Data Science Tools|
|-------------------|
| Jupyter Notebooks |
| Zeppelin Notebooks |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [7]:
minutes = 200
hours = 200/60
print(hours)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335